.btn-mixin {
  background-color: #fff;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
}
.btn-mixin:hover {
  color: #ff0000;
  background-color: #ffffff;
}
.shadow {
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
}
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}
div:focus {
  outline: none;
}
button:active,
button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Merriweather', sans-serif;
  background-color: #f3f3f3;
}
.menu {
  opacity: .8;
  z-index: 1;
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -100vw;
  transition: all 0.5s;
}
.menu-link {
  z-index: 9;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  opacity: .5;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 20px;
  left: 20px;
  transition: all 0.3s;
}
.menu-link:hover {
  opacity: .9;
}
.menu-link span,
.menu-link span:before,
.menu-link span:after {
  display: block;
  height: 2px;
  width: 18px;
  background-color: #000;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
}
.menu-link span:before {
  transition: all 0.2s;
  content: '';
  margin-top: -6px;
}
.menu-link span:after {
  transition: all 0.2s;
  content: '';
  margin-top: 4px;
}
.menu-link_active span {
  background-color: transparent;
}
.menu-link_active span:before {
  transform: rotate(135deg);
  margin-top: 0;
}
.menu-link_active span:after {
  transform: rotate(-135deg);
  margin-top: 0;
}
.menu_active {
  left: 0;
}
.menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
.menu ul li {
  width: 100vw;
}
.menu ul a {
  display: block;
  width: 100%;
  line-height: 4;
  color: #fff;
  transition: all 0.2s;
  font-size: 2rem;
}
.menu ul a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.4);
}
.main {
  height: 100vh;
  background: no-repeat center;
  background-size: cover;
  color: #fff;
  display: table;
  width: 100%;
}
.main-title {
  animation-duration: 2s;
}
.main-desc {
  animation-duration: 2s;
}
.main-container {
  display: table-cell;
  vertical-align: middle;
}
.main-row {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  color: #fff;
}
.main-line {
  height: 1px;
  width: 500px;
  background-color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.main-content h1 {
  text-transform: uppercase;
}
.main-table {
  padding-left: 1rem;
}
.about {
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  padding: 2rem 0px;
}
.about-title {
  margin-top: -1rem;
  text-align: center;
  margin-bottom: 3rem;
  text-transform: uppercase;
  color: #111111;
}
.about-structure {
  margin-top: -1rem;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  background-color: #ffffff;
  color: #5e5e5e;
}
.about-structure_title {
  text-align: center;
  color: #111111;
}
.about-license {
  color: #111111;
}
.about-license_text {
  font-weight: 700;
  margin-bottom: 2rem;
}
.about-license_link {
  background-color: #fff;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  color: #5e5e5e;
}
.about-license_link:hover {
  color: #ff0000;
  background-color: #ffffff;
}
.about-license_link:hover {
  text-decoration: none;
}
.about-state {
  margin-bottom: 4rem;
}
.about-state_title {
  text-align: center;
  padding: 10px 0px;
  color: #111111;
}
.about-state_btn-open {
  color: #5e5e5e;
  background-color: #fff;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
}
.about-state_btn-open:hover {
  color: #ff0000;
  background-color: #ffffff;
}
.about-state_btn-close {
  background-color: #fff;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  border: none;
  color: #5e5e5e;
}
.about-state_btn-close:hover {
  color: #ff0000;
  background-color: #ffffff;
}
.about-documents {
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  background-color: #ffffff;
  color: #5e5e5e;
}
.about-documents_title {
  padding: 10px 0px;
  color: #111111;
}
.about-documents_title-modal {
  color: #111111;
}
.about-documents_btn-open {
  background-color: #fff;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  margin-bottom: 4rem;
  background-color: #f3f3f3;
}
.about-documents_btn-open:hover {
  color: #ff0000;
  background-color: #ffffff;
}
.about-documents_btn-close {
  background-color: #fff;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  background-color: #ffffff;
}
.about-documents_btn-close:hover {
  color: #ff0000;
  background-color: #ffffff;
}
.about-documents_btn-close:hover {
  background-color: #fff;
  color: #ffffff;
}
.about-documents_body {
  color: #000;
  text-align: left;
}
.about-documents_body h4 {
  text-align: center;
}
.about-documents_list-1 a,
.about-documents_list-2 a {
  color: #0000ff;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.about-documents_list-1 a:hover,
.about-documents_list-2 a:hover {
  color: #ff0000;
  text-decoration: underline;
}
.leadership {
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  color: #fff;
}
.leadership-box {
  background-color: #ffffff;
}
.leadership-title {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 1rem;
  color: #111111;
}
.teachers-box {
  cursor: pointer;
  transition: all 0.3s;
  color: #5e5e5e;
}
.teachers-box:hover {
  background-color: #f3f3f3;
}
.teachers-img {
  margin-top: 1rem;
  padding: 0 5px;
}
.teachers-img:hover {
  background: #fff;
}
.teachers-title {
  text-align: center;
  color: #111111;
}
.teachers-btn_close {
  background-color: #fff;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  color: #5e5e5e;
  background-color: #f3f3f3;
}
.teachers-btn_close:hover {
  color: #ff0000;
  background-color: #ffffff;
}
.teachers-slider {
  margin: 20px auto;
  padding-bottom: 20px;
}
.teachers-slider_img {
  text-align: center;
  width: 100%;
  min-height: 305px;
}
.teachers-slider_slide {
  margin-left: 15px;
  margin-right: 15px;
}
.teachers-slider_text {
  bottom: 0;
  width: 100%;
  color: #5e5e5e;
  text-align: center;
}
.teachers-slider_desc {
  font-size: 12px;
}
.activities {
  background-color: #ffffff;
  color: #5e5e5e;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
}
.activities-title {
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}
.activities-main {
  text-align: center;
  color: #111111;
}
.activities-schedule {
  text-align: center;
  color: #111111;
}
.activities-schedule_box {
  background-color: #f3f3f3;
  color: #000;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
}
.activities-links {
  color: #0000ff;
  transition: all 0.3s;
}
.activities-links:hover {
  color: #ff0000;
  text-decoration: underline;
}
.activities-programs {
  text-align: center;
  color: #111111;
}
.activities-reports {
  text-align: center;
  color: #111111;
}
.activities-reports_box {
  background-color: #f3f3f3;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
}
.activities-reports_box a {
  color: #0000ff;
}
.activities-reports_box a:hover {
  color: #ff0000;
  text-decoration: underline;
}
.activities-standarts {
  text-align: center;
  color: #111111;
}
.activities-standarts_box {
  background-color: #f3f3f3;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
}
.activities-standarts_box a {
  color: #0000ff;
}
.activities-standarts_box a:hover {
  color: #ff0000;
  text-decoration: underline;
}
.activities-scroll {
  text-align: center;
  color: #111111;
}
.enrollee-title__main {
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}
.enrollee-order_box {
  background-color: #ffffff;
  color: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
}
.enrollee-order_text {
  text-align: justify;
}
.enrollee-order_text__1 {
  text-align: center;
  font-weight: 700;
}
.enrollee-order_text__2 {
  text-align: right;
  font-style: italic;
}
.enrollee-order_text__3 {
  text-align: left;
}
.enrollee-order_text__4 {
  text-align: right;
  margin-top: -4rem;
}
.enrollee-order_btn {
  background-color: #fff;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #fff;
  background-color: #ffffff;
}
.enrollee-order_btn:hover {
  color: #ff0000;
  background-color: #ffffff;
}
.enrollee-order_btn:hover {
  background-color: #fff;
  color: #ffffff;
}
.enrollee-specialties_title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.enrollee-body {
  padding: 0px 1rem 0px 1rem;
}
.enrollee-cost {
  text-align: center;
}
.enrollee-cost_1 {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}
.enrollee-cost_btn {
  display: block;
  text-align: center;
  background-color: #fff;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  color: #5e5e5e;
  margin-left: 28%;
  margin-right: 28%;
}
.enrollee-cost_btn:hover {
  color: #ff0000;
  background-color: #ffffff;
}
.enrollee-list {
  text-align: center;
}
.enrollee-list_box {
  background-color: #ffffff;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  color: #111111;
}
.enrollee-list_btn {
  background-color: #fff;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  display: block;
  text-align: center;
  margin-left: 28%;
  margin-right: 28%;
  color: #5e5e5e;
  background-color: #f3f3f3;
  margin-bottom: 1rem;
  transition: all 0.3s;
}
.enrollee-list_btn:hover {
  color: #ff0000;
  background-color: #ffffff;
}
.enrollee-list_btn:hover {
  color: #ff0000;
}
.enrollee-heading {
  background: #ffffff;
  color: #5e5e5e;
  border-radius: 0;
  text-align: center;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
}
.enrollee-title a {
  display: block;
  color: #111111;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 20px;
  transition: all 0.3s;
}
.enrollee-title a:hover {
  text-decoration: none;
  color: #ff0000;
}
.enrollee-body {
  background-color: #ffffff;
}
.student-title {
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}
.student-schedule {
  text-align: center;
  margin-bottom: 3rem;
}
.student-items a {
  color: #0000ff;
  transition: all 0.3s;
}
.student-items a:hover {
  color: #ff0000;
}
.student-link {
  background-color: #fff;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  text-transform: none;
  color: #5e5e5e;
  transition: all 0.3s;
  font-size: 3rem;
}
.student-link:hover {
  color: #ff0000;
  background-color: #ffffff;
}
.student-link:hover {
  text-decoration: none;
}
.student-row_1 {
  margin-bottom: 5rem;
}
.student-practice {
  text-align: center;
  margin-top: -2rem;
}
.student-curator {
  text-align: center;
  margin-top: 3rem;
}
.student-curator_box {
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  background-color: #ffffff;
}
.student-curator_btn__open {
  background-color: #fff;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  background-color: #f3f3f3;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.student-curator_btn__open:hover {
  color: #ff0000;
  background-color: #ffffff;
}
.student-curator_btn__close {
  background-color: #fff;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  background-color: #f3f3f3;
}
.student-curator_btn__close:hover {
  color: #ff0000;
  background-color: #ffffff;
}
.student-curator_btn__close:hover {
  background-color: #ffffff;
}
.student-curator_table {
  margin-left: 3rem;
}
.student-sm_box {
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  background-color: #ffffff;
}
.student-sm_btn__open {
  background-color: #fff;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  background-color: #f3f3f3;
  margin-bottom: 1rem;
}
.student-sm_btn__open:hover {
  color: #ff0000;
  background-color: #ffffff;
}
footer {
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  background-color: #ffffff;
}
.contacts-title {
  text-align: center;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.contacts-text {
  text-align: justify;
  margin-top: 2.5rem;
}
.contacts-phone {
  color: #0000ff;
  transition: all 0.3s;
}
.contacts-phone:hover {
  color: #ff0000;
}
.contacts-mail {
  color: #0000ff;
  transition: all 0.3s;
}
.contacts-mail:hover {
  color: #ff0000;
}
.footer-text {
  margin-top: 2rem;
  font-size: 12px;
}
.modal_img {
  float: left;
  margin-right: 1rem;
}
.modal-header {
  border: none;
}
.modal-footer {
  border: none;
}
.modal-title {
  text-align: center;
}
.modal-content {
  border-radius: 0;
}
.arrow {
  position: absolute;
  top: 50%;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  transform: scaleY(-50%);
}
.prev {
  background: url() no-repeat center;
  left: 0;
}
.next {
  background: url() no-repeat center;
  right: 0;
}
.close {
  border: none;
  font-size: 2.5rem;
  position: absolute;
  right: 2rem;
  top: 2.3rem;
}
a:active,
a:focus {
  outline: none;
}
a::-moz-focus-inner {
  border: 0;
}
@media (max-width: 1200px) {
  .enrollee-list_box {
    background-color: #f3f3f3;
    box-shadow: none;
  }
  .enrollee-list_btn {
    background-color: #ffffff;
    padding: 10px;
  }
  .enrollee-cost_btn {
    padding: 10px;
  }
  .enrollee-method {
    font-size: 2.2rem;
  }
  .student-curator {
    margin: 0;
  }
  .student-curator_box {
    background-color: #f3f3f3;
    box-shadow: none;
  }
  .student-curator_btn__open {
    background-color: #ffffff;
  }
  .student-practice {
    margin: 0;
  }
  .student-sm {
    margin-top: -1rem;
  }
  .student-sm_box {
    background-color: #f3f3f3;
    box-shadow: none;
    margin-top: -10rem;
  }
  .student-sm_btn__open {
    background-color: #ffffff;
  }
  .contacts-text {
    margin: 0;
  }
}
@media (max-width: 1024px) {
  .teachers-slider_img {
    min-height: 200px;
  }
}
@media (max-width: 992px) {
  .activities-reports_box {
    background-color: #ffffff;
    box-shadow: none;
  }
  .activities-shedule_box {
    background-color: #ffffff;
    box-shadow: none;
  }
  .activities-standarts_box {
    background-color: #ffffff;
    box-shadow: none;
  }
  .enrollee-heading_invalid {
    height: 6rem;
  }
  .enrollee-list_box {
    margin-top: 1rem;
  }
  .student-link {
    font-size: 2.8rem;
  }
  .student-sm_box {
    margin-top: 3rem;
  }
  .gmaps {
    margin-left: 8rem;
  }
  .contacts-text {
    margin-top: 2rem;
  }
}
@media (max-width: 768px) {
  .about-structure {
    background-color: #f3f3f3;
    box-shadow: none;
  }
  .about-documents {
    background-color: #f3f3f3;
    box-shadow: none;
  }
  .about-documents_btn-open {
    background-color: #ffffff;
  }
}
@media (max-width: 576px) {
  .main {
    height: 100vh;
  }
  .main-title {
    font-size: 4.5rem;
  }
  .main-line {
    width: 250px;
  }
  .main-desc {
    font-size: 2rem;
  }
  .about-structure {
    background-color: #f3f3f3;
    box-shadow: none;
  }
  .about-documents {
    background-color: #f3f3f3;
    box-shadow: none;
  }
  .about-documents_btn-open {
    background-color: #ffffff;
  }
  .enrollee-heading_invalid {
    height: 12rem;
  }
  .student-schedule {
    margin-top: 3rem;
  }
  .student-link {
    font-size: 15px;
    line-height: 5rem;
  }
  .student-curator {
    margin-bottom: 1rem;
  }
  .student-practice {
    margin-bottom: 2rem;
  }
  .student-sm {
    margin-bottom: 2rem;
  }
  .gmaps {
    margin: 0;
    width: 38rem;
  }
}
@media (max-width: 375px) {
  .main-title {
    font-size: 3.8rem;
  }
  .teachers-slider_img {
    min-height: 200px;
  }
  .gmaps {
    width: 35rem;
  }
}
@media (max-width: 320px) {
  .main-title {
    font-size: 3rem;
  }
  .main-desc {
    font-size: 1.5rem;
  }
  .main-table_box {
    display: none;
  }
  .teachers-slider_img {
    min-height: 200px;
  }
  .gmaps {
    width: 29rem;
  }
}
