// ПЕРЕМЕННЫЕ

@main-color: #fff;
@link-color: #0000FF;
@font-color: #5e5e5e;
@hover-color: #ff0000;
@bgcolor: #f3f3f3;
@title-color: #111111;

// ШРИФТЫ

// МИКСИНЫ
.btn-mixin {
	background-color: #fff;
	padding: 1rem 3rem;
	transition: all 0.3s;
	text-transform: uppercase;
	border: none;
	.shadow;
	&:hover {
		color: @hover-color;
		background-color: @main-color;
	}
}

.shadow {
	box-shadow: 0 3px 5px 0 rgba(0,1,1,.1);
}

// ГЛОБАЛЬНЫЕ НАСТРОЙКИ
a:hover,
a:focus,
a:visited,
a:active {
	text-decoration: none;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Merriweather', sans-serif;
	background-color: @bgcolor;
}

// ШАПКА
.header {
	&-box {
		z-index: 9;
		position: fixed;
		width: 100vw;
		background-color: @main-color;
		.shadow;
		padding-right: 5.8rem;
	}
	&-list {
		margin-top: 1rem;
	}
	&-items {
		display: inline;
		margin-left: 12px;
		margin-right: 12px;
	}
	&-items a {
		color: @title-color;
		transition: all 0.3s;
		padding-bottom: 1px;
		&:hover {
			color: @hover-color;
			text-decoration: none;
		}
	}
}

// ГЛАВНАЯ
.main {
	height: 100vh;
	background: no-repeat center;
	background-size: cover;
	color: #fff;
	display: table;
	width: 100%;
	 &-container {
		display: table-cell;
		vertical-align: middle;
	}
	&-row {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		text-align: center;
		color: #fff;
	} 
	&-line {
		height: 1px;
		width: 500px;
		background-color: #fff;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	&-content h1 {
		text-transform: uppercase;
	}
	&-table {
		padding-left: 1rem;
	}
}

// О КОЛЛЕДЖЕ
.about {
	.shadow;
	padding: 2rem 0px;
	&-title {
		margin-top: -1rem;
		text-align: center;
		margin-bottom: 3rem;
		text-transform: uppercase;
		color: @title-color;
	}
	&-structure {
		margin-top: -1rem;
		.shadow;
		background-color: @main-color;
		color: @font-color;
		&_title {
			text-align: center;
			color: @title-color;
		}
	}
	&-license {	
		color: @title-color;
		&_text {
			font-weight: 700;
			margin-bottom: 2rem;
		}
		&_link {
			.btn-mixin;
			color: @font-color;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&-state {
		margin-bottom: 4rem;
		&_title {
			text-align: center;
			padding: 10px 0px;
			color: @title-color;
		}
		&_btn {
			&-open {
				color: @font-color;
				border: none;
				.btn-mixin;
			}
			&-close {
				.btn-mixin;
				border: none;
				color: @font-color;
			}
		}
	}
	&-documents {
		.shadow;
		background-color: @main-color;
		color: @font-color;
		&_title {
			padding: 10px 0px;
			color: @title-color;
			&-modal {
				color: @title-color;
			}
		}
		&_btn {
			&-open {
				border: none;
				.btn-mixin;
				margin-bottom: 4rem;
				background-color: @bgcolor;
			}
			&-close {
				border: none;
				.btn-mixin;
				background-color: @main-color;
				&:hover {
					background-color: #fff;
					color: @main-color;
				}
			}
		}
		&_body {
			color: #000;
			text-align: left;
			h4 {
				text-align: center;
			}
		}
		&_list {
			&-1 a,
			&-2 a {
				color: @link-color;
				border-bottom: 2px solid transparent;
				transition: all 0.3s;
				&:hover {
					color: @hover-color;
					text-decoration: underline;
				}
			}
		}
	}
}

// РУКОВОДСТВО
.leadership {
	.shadow;
	color: #fff;
	&-box {
		background-color: @main-color;
	}
	&-title {
		margin-top: 10px;
		text-align: center;
		margin-bottom: 1rem;
		color: @title-color;
	}
}

// ПРЕПОДАВАТЕЛИ (И РУКОВОДСТВО) !!!
.teachers {
	&-box {
		cursor: pointer;
		transition: all 0.3s;
		color: @font-color;
		&:hover {
			.shadow;
			background-color: @bgcolor;
			color: @hover-color;
		}
	}
	&-img {
		margin-top: 1rem;
		padding: 0 5px;
		min-height: 300px;
		min-width: 250px;
	}
	&-title {
		text-align: center;
		color: @title-color;
	}
	&-btn {
		&_close {
			border: none;
			.btn-mixin;
			color: @font-color;
			background-color: @bgcolor;
		}
	}
	&-slider {
		max-width: 100vw;
		margin: 20px auto;
		padding-bottom: 20px;
		&_img {
			text-align: center;
			width: 100%;
			// max-width: 250px;
			// min-width: 250px;
			// min-height: 300px;
			// max-height: 300px;
		}
		&_slide {
			width: 250px;
			height: 300px;
			margin-left: 15px;
			margin-right: 15px;

		}
		&_text {
			bottom: 0;
			width: 100%;
			color: @font-color;
			text-align: center;
			&:hover {
				color: @hover-color;
			}
		}
		&-title,
		&-desc {
			margin: 0;
			padding: 0 10px;
		}
	}
}

// ДЕЯТЕЛЬНОСТЬ 
.activities {
	background-color: @main-color;
	color: @font-color;
	.shadow;
	&-title {
		text-align: center;
		text-transform: uppercase;
		color: @title-color;
	}
	&-main {
		text-align: center;
		color: @title-color;
	}
	&-shedule {
		text-align: center;
		color: @title-color;
		&_box {
			background-color: @bgcolor;
			color: #000;
			.shadow;
		}
	}
	&-links {
		color: @link-color;
		transition: all 0.3s;
		&:hover {
			color: @hover-color;
			text-decoration: underline;
		}
	}
	&-programs {
		text-align: center;
		color: @title-color;
	}
	&-reports {
		text-align: center;
		color: @title-color;
		&_box {
			background-color: @bgcolor;
			.shadow;
			a {
				color: @link-color;
				&:hover {
					color: @hover-color;
					text-decoration: underline;
				}
			}
		}
	}
	&-standarts {
		text-align: center;
		color: @title-color;
		&_box {
			background-color: @bgcolor;
			.shadow;
			a {
				color: @link-color;
				&:hover {
					color: @hover-color;
					text-decoration: underline;
				}
			}
		}
	}
	&-scroll {
		text-align: center;
		color: @title-color;
	}
}

// АБИТУРИЕНТАМ
.enrollee {
	&-title {
		&__main {
			text-align: center;
			text-transform: uppercase;
			color: @title-color;
		}
	}
	&-order {
		&_box {
			background-color: @main-color;
			color: #fff;
			.shadow;
		}
		&_text {
			text-align: justify;
			&__1 {
				text-align: center;
				font-weight: 700;
			}
			&__2 {
				text-align: right;
				font-style: italic;
			}
			&__3 {
				text-align: left;
			}
			&__4 {
				text-align: right;
				margin-top: -4rem;
			}
		}
		&_btn {
			.btn-mixin;
			margin-top: 1rem;
			margin-bottom: 2rem;
			color: #fff;
			background-color: @main-color;
			&:hover {
				background-color: #fff;
				color: @main-color;
			}
		}
	}
	&-specialties {
		&_title {
			text-align: center;
			margin-top: 3rem;
			margin-bottom: 2rem;
		}
	}
	&-body {
		padding: 0px 1rem 0px 1rem;
	}
	&-cost {
		text-align: center;
		&_1 {
			margin-top: 3.5rem;
			margin-bottom: 2rem;
		}
		&_btn {
			display: block;
			text-align: center;
			.btn-mixin;
			color: @font-color;
			margin-left: 28%;
			margin-right: 28%;
		}
	}
	&-list {
		text-align: center;
		&_box {
			background-color: @main-color;
			.shadow;
			color: @title-color;
		}
		&_btn {
			.btn-mixin;
			display: block;
			text-align: center;
			margin-left: 28%;
			margin-right: 28%;
			color: @font-color;
			background-color: @bgcolor;
			margin-bottom: 1rem;
			transition: all 0.3s;
			&:hover {
				color: @hover-color;
			}
		}
	}
	&-heading {
		background: @main-color;
		color: @font-color;
		border-radius: 0;
		text-align: center;
		.shadow;
	}
	&-title a {
		display: block;
		color: @title-color;
		width: 100%;
		height: 3rem;
		line-height: 3rem;
		font-size: 20px;
		transition: all 0.3s;
		&:hover {
			text-decoration: none;
			color: @hover-color;
		}
	}
	&-body {
		background-color: @main-color;
	}
}

.student {
	&-title {
		text-align: center;
		color: @title-color;
		text-transform: uppercase;
	}
	&-schedule {
		text-align: center;
		margin-bottom: 3rem;
	}
	&-items a {
		color: @link-color;
		transition: all 0.3s;
		&:hover {
			color: @hover-color;
		}
	}
	&-link {
		.btn-mixin;
		text-transform: none;
		color: @font-color;
		transition: all 0.3s;
		font-size: 3rem;
		&:hover {
			text-decoration: none;
		}
	}
	&-row {
		&_1 {
			margin-bottom: 5rem;
		}
	}
	&-practice {
		text-align: center;
		margin-top: -2rem;
	}
	&-curator {
		text-align: center;
		margin-top: 3rem;
		&_box {
			.shadow;
			background-color: @main-color;
		}
		&_btn {
			&__open {
				.btn-mixin;
				background-color: @bgcolor;
				margin-top: 1rem;
				margin-bottom: 2rem;
			}
		}
	}
	&-sm {
		&_box {
			.shadow;
			background-color: @main-color;
		}
		&_btn {
			&__open {
				.btn-mixin;
				background-color: @bgcolor;
				margin-bottom: 1rem;
			}
		}
	}
}

// КОНТАКТЫ
footer {
	.shadow;
	background-color: @main-color;
}
.contacts {
	&-title {
		text-align: center;
		margin-bottom: 3rem;
		text-transform: uppercase;
	}
	&-text {
		text-align: justify;
		margin-top: 2.5rem;
	}
	&-phone {
		color: @link-color;
		transition: all 0.3s;
		&:hover {
			color: @hover-color;
		}
	}
	&-mail {
		color: @link-color;
		transition: all 0.3s;
		&:hover {
			color: @hover-color;
		}
	}
}
.footer {
	&-text {
		margin-top: 2rem;
		font-size: 12px;
	}
}

// МОДАЛКИ

.modal {
	&_img {
		float: left;
		margin-right: 1rem;
	}
	&-header {
		border: none;
	}
	&-footer {
		border: none;
	}
	&-title {
		text-align: center;
	}
	&-content {
		border-radius: 0;
	}
}

.arrow {
	position: absolute;
	top: 50%;
	z-index: 99;
	width: 2rem;
	height: 2rem;
	border: none;
	transform: scaleY(-50%);
}

.prev {
	background: url() no-repeat center;
	left: 0;
}

.next {
	background: url() no-repeat center;
	right: 0;
}

.close {
	border: none;
	font-size: 2.5rem;
	position: absolute;
	right: 2rem;
	top: 2.3rem;
}

a:active, a:focus { 
	outline: none; 
} 
a::-moz-focus-inner { 
	border: 0; 
}

@media (max-width: 576px) {
	.main {
		height: 100vh;
		&-title {
			font-size: 5rem;
		}
		&-line {
			width: 250px;
		}
		&-desc {
			font-size: 2rem;
		}
	}
	.about {
		&-state {
			background-color: @main-color;
			margin: 0;
			.shadow;
			color: #fff;
			&_btn {
				&-open {
					margin-bottom: 2rem;
				}
			}
			&_title {
				margin-top: 2rem;
			}
		}
		&-documents {
			margin: 0;
			box-shadow: none;
			background-color: #fff;
			color: #000;
		}
	}
}