.btn-mixin {
  background-color: #fff;
  border: 1px solid #ff7200;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
}
.btn-mixin:hover {
  color: #fff;
  background-color: #ff7200;
}
.shadow {
  box-shadow: 1px 1px 10px #000;
}
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Roboto Slab', sans-serif;
}
.header-box {
  z-index: 9;
  position: fixed;
  width: 100vw;
  background-color: #ff7200;
  box-shadow: 0 0 10px #000;
}
.header-logo {
  width: 80px;
  margin-bottom: 5px;
}
.header-list {
  margin-top: 1rem;
}
.header-items {
  display: inline;
  margin-left: 12px;
  margin-right: 12px;
}
.header-items a {
  color: #fff;
  transition: all 0.3s;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
}
.header-items a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}
.main {
  height: 100vh;
  background: no-repeat center;
  background-size: cover;
  color: #fff;
  display: table;
  width: 100%;
}
.main-container {
  display: table-cell;
  vertical-align: middle;
}
.main-row {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  color: #fff;
}
.main-line {
  height: 1px;
  width: 500px;
  background-color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.main-content h1 {
  text-transform: uppercase;
}
.about {
  box-shadow: 1px 1px 10px #000;
  padding: 2rem 0px;
}
.about-title {
  margin-top: -1rem;
  text-align: center;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.about-structure {
  margin-top: -1rem;
  box-shadow: 1px 1px 10px #000;
  background-color: #ff7200;
  color: #fff;
}
.about-structure_title {
  text-align: center;
}
.about-license_text {
  font-weight: 700;
  margin-bottom: 2rem;
}
.about-license_link {
  background-color: #fff;
  border: 1px solid #ff7200;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  color: #ff7200;
}
.about-license_link:hover {
  color: #fff;
  background-color: #ff7200;
}
.about-license_link:hover {
  text-decoration: none;
}
.about-state {
  margin-bottom: 4rem;
}
.about-state_title {
  text-align: center;
  padding: 10px 0px;
}
.about-state_btn-open {
  color: #ff7200;
  background-color: #fff;
  border: 1px solid #ff7200;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
}
.about-state_btn-open:hover {
  color: #fff;
  background-color: #ff7200;
}
.about-state_btn-close {
  background-color: #fff;
  border: 1px solid #ff7200;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  color: #ff7200;
}
.about-state_btn-close:hover {
  color: #fff;
  background-color: #ff7200;
}
.about-documents {
  box-shadow: 1px 1px 10px #000;
  background-color: #ff7200;
  color: #fff;
}
.about-documents_title {
  padding: 10px 0px;
}
.about-documents_title-modal {
  color: #ff7200;
}
.about-documents_btn-open {
  background-color: #fff;
  border: 1px solid #ff7200;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff7200;
  border: 1px solid #fff;
  margin-bottom: 4rem;
}
.about-documents_btn-open:hover {
  color: #fff;
  background-color: #ff7200;
}
.about-documents_btn-open:hover {
  background-color: #fff;
  color: #ff7200;
}
.about-documents_btn-close {
  background-color: #fff;
  border: 1px solid #ff7200;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  background-color: #ff7200;
}
.about-documents_btn-close:hover {
  color: #fff;
  background-color: #ff7200;
}
.about-documents_btn-close:hover {
  background-color: #fff;
  color: #ff7200;
}
.about-documents_body {
  color: #000;
  text-align: left;
}
.about-documents_body h4 {
  text-align: center;
}
.about-documents_list-1 a,
.about-documents_list-2 a {
  color: #0000ff;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.about-documents_list-1 a:hover,
.about-documents_list-2 a:hover {
  color: #ff7200;
  text-decoration: underline;
}
.leadership {
  box-shadow: 1px 1px 10px #000;
  color: #fff;
}
.leadership-box {
  background-color: #ff7200;
}
.leadership-title {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 1rem;
}
.teachers-box {
  cursor: pointer;
  transition: all 0.3s;
}
.teachers-box:hover {
  box-shadow: 1px 1px 10px #000;
  background-color: #fff;
  color: #ff7200;
}
.teachers-img {
  margin-top: 1rem;
  padding: 0 5px;
  min-height: 300px;
  min-width: 250px;
}
.teachers-title {
  text-align: center;
}
.teachers-btn_close {
  background-color: #fff;
  border: 1px solid #ff7200;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  color: #ff7200;
}
.teachers-btn_close:hover {
  color: #fff;
  background-color: #ff7200;
}
.teachers-slider {
  max-width: 100vw;
  margin: 20px auto;
  padding-bottom: 20px;
}
.teachers-slider_img {
  text-align: center;
  width: 100%;
}
.teachers-slider_slide {
  width: 250px;
  height: 300px;
  margin-left: 15px;
  margin-right: 15px;
}
.teachers-slider_text {
  bottom: 0;
  width: 100%;
  color: #ff7200;
  text-align: center;
}
.teachers-slider-title,
.teachers-slider-desc {
  margin: 0;
  padding: 0 10px;
}
.activities {
  background-color: #ff7200;
  color: #fff;
  box-shadow: 1px 1px 10px #000;
}
.activities-title {
  text-align: center;
  text-transform: uppercase;
}
.activities-main {
  text-align: center;
}
.activities-shedule {
  text-align: center;
}
.activities-shedule_box {
  background-color: #fff;
  color: #000;
  box-shadow: 1px 1px 10px #000;
}
.activities-links {
  color: #0000ff;
  transition: all 0.3s;
}
.activities-links:hover {
  color: #ff7200;
  text-decoration: underline;
}
.activities-programs {
  text-align: center;
}
.activities-reports {
  text-align: center;
}
.activities-reports_box {
  background-color: #fff;
  box-shadow: 1px 1px 10px #000;
  color: #000;
}
.activities-reports_box a {
  color: #0000ff;
}
.activities-reports_box a:hover {
  color: #ff7200;
  text-decoration: underline;
}
.activities-standarts {
  text-align: center;
}
.activities-standarts_box {
  background-color: #fff;
  box-shadow: 1px 1px 10px #000;
  color: #000;
}
.activities-standarts_box a {
  color: #0000ff;
}
.activities-standarts_box a:hover {
  color: #ff7200;
  text-decoration: underline;
}
.activities-scroll {
  text-align: center;
}
.enrollee-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.enrollee-order_box {
  background-color: #ff7200;
  color: #fff;
  box-shadow: 1px 1px 10px #000;
}
.enrollee-order_text {
  text-align: justify;
}
.enrollee-order_text__1 {
  text-align: center;
  font-weight: 700;
}
.enrollee-order_text__2 {
  text-align: right;
  font-style: italic;
}
.enrollee-order_text__3 {
  text-align: left;
}
.enrollee-order_text__4 {
  text-align: right;
  margin-top: -4rem;
}
.enrollee-order_btn {
  background-color: #fff;
  border: 1px solid #ff7200;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #fff;
  background-color: #ff7200;
  border: 1px solid #fff;
}
.enrollee-order_btn:hover {
  color: #fff;
  background-color: #ff7200;
}
.enrollee-order_btn:hover {
  background-color: #fff;
  color: #ff7200;
}
.enrollee-rules_btn {
  margin-top: 1rem;
  background-color: #fff;
  border: 1px solid #ff7200;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  color: #ff7200;
}
.enrollee-rules_btn:hover {
  color: #fff;
  background-color: #ff7200;
}
.enrollee-invalid_box {
  background-color: #ff7200;
  color: #fff;
  box-shadow: 1px 1px 10px #000;
}
.enrollee-invalid_btn {
  background-color: #fff;
  border: 1px solid #ff7200;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff7200;
  border: 1px solid #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.enrollee-invalid_btn:hover {
  color: #fff;
  background-color: #ff7200;
}
.enrollee-invalid_btn:hover {
  background-color: #fff;
  color: #ff7200;
}
.enrollee-invalid_btn__close {
  background-color: #fff;
  border: 1px solid #ff7200;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  color: #ff7200;
}
.enrollee-invalid_btn__close:hover {
  color: #fff;
  background-color: #ff7200;
}
.enrollee-specialties_title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.enrollee-cost {
  text-align: center;
}
.enrollee-cost_1 {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}
.enrollee-cost_btn {
  display: block;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ff7200;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  color: #ff7200;
  margin-left: 28%;
  margin-right: 28%;
}
.enrollee-cost_btn:hover {
  color: #fff;
  background-color: #ff7200;
}
.enrollee-list {
  text-align: center;
}
.enrollee-list_box {
  background-color: #ff7200;
  box-shadow: 1px 1px 10px #000;
  color: #fff;
}
.enrollee-list_btn {
  background-color: #fff;
  border: 1px solid #ff7200;
  padding: 1rem 3rem;
  transition: all 0.3s;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-left: 28%;
  margin-right: 28%;
  color: #fff;
  background-color: #ff7200;
  border: 1px solid #fff;
  margin-bottom: 1rem;
}
.enrollee-list_btn:hover {
  color: #fff;
  background-color: #ff7200;
}
.enrollee-list_btn:hover {
  background-color: #fff;
  color: #ff7200;
}
.modal_img {
  float: left;
  margin-right: 1rem;
}
.modal-header {
  border: none;
}
.modal-footer {
  border: none;
}
.modal-title {
  text-align: center;
}
.modal-content {
  border-radius: 0;
}
.close {
  border: none;
  font-size: 2.5rem;
  position: absolute;
  right: 2rem;
  top: 2.3rem;
}
a:active,
a:focus {
  outline: none;
}
a::-moz-focus-inner {
  border: 0;
}
